[submodule "KayMcCormick.Test.Common"]
	path = KayMcCormick.Test.Common
	url = https://github.com/kaymccormick/KayMcCormick.Test.Common.git
	branch = master
[submodule "KayMcCormick.Logging.Common"]
	path = KayMcCormick.Logging.Common
	url = https://github.com/kaymccormick/KayMcCormick.Logging.Common
	branch = master
[submodule "NLog"]
	path = NLog
	url = https://github.com/kaymccormick/NLog
