bin
~$*
obj
.vs
packages
FileSigs_*
*~
.idea
*.user
*.DotSettings
TestResults
nlog.txt
TestResult.xml
/Backup
*.sln.bak
/UpgradeLog.htm
/AppLoggingConfigHelper.cs
/Docs/Help/LastBuild.log
*.chm
*.msha
*.mshc
/Output-Build.txt
