<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <diagnostics performanceCounters="Default" />
        <client>
            <endpoint address="http://localhost:27809/ReceiveLogs.svc" binding="basicHttpBinding"
                bindingConfiguration="" contract="NLog.LogReceiverService.ILogReceiverServer"
                name="log" kind="" endpointConfiguration="" />
            <endpoint address="http://localhost:27809/ReceiveLogs.svc" binding="basicHttpBinding"
                bindingConfiguration="" contract="NLog.LogReceiverService.ILogReceiverServer"
                name="" kind="" endpointConfiguration="" />
        </client>
        <services />
    </system.serviceModel>
</configuration>