<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <section type="WpfApp.Config.ContainerHelperSection, WpfApp, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" name="ContainerHelperSettings"  allowDefinition="Everywhere"/>
  </configSections>
    <system.serviceModel>
        <diagnostics performanceCounters="Default" />
        <client>
            <endpoint address="http://localhost:27809/ReceiveLogs.svc" binding="basicHttpBinding"
                bindingConfiguration="" contract="NLog.LogReceiverService.ILogReceiverServer"
                name="log" kind="" endpointConfiguration="" />
        </client>
        <services />
    </system.serviceModel>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <ContainerHelperSettings DoInterception="true" DoTraceConditionalRegistration="true"/>
</configuration>
