<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <section type="WpfApp.Config.ContainerHelperSection, WpfApp, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" name="ContainerHelperSettings"  allowDefinition="Everywhere"/>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <ContainerHelperSettings DoInterception="true" DoTraceConditionalRegistration="true"/>
<appSettings>
    <add key="xunit.diagnosticMessages" value="true"/>
  </appSettings>
</configuration>
